version: 2.1

jobs:
  wdio-browserstack:
    machine: true   # Necesario para usar docker build/run
    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Build Docker image for WebdriverIO
          command: docker build -t wdio-runner .

      - run:
          name: Run WebdriverIO tests on BrowserStack
          command: |
            docker run --rm \
              -e BROWSERSTACK_USERNAME="${BROWSERSTACK_USERNAME}" \
              -e BROWSERSTACK_ACCESS_KEY="${BROWSERSTACK_ACCESS_KEY}" \
              -e BROWSERSTACK_APP_ANDROID="${BROWSERSTACK_APP_ANDROID}" \
              wdio-runner \
              ./src/config/wdio.browserstack.conf.ts

workflows:
  version: 2
  wdio_test_workflow:
    jobs:
      - wdio-browserstack
