name: Run WebdriverIO on BrowserStack

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  wdio-browserstack:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t wdio-runner .

      - name: Run WebdriverIO tests on BrowserStack
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          BROWSERSTACK_APP_ANDROID: ${{ secrets.BROWSERSTACK_APP_ANDROID }}
        run: |
          docker run --rm \
            -e BROWSERSTACK_USERNAME \
            -e BROWSERSTACK_ACCESS_KEY \
            -e BROWSERSTACK_APP_ANDROID \
            wdio-runner \
            ./src/config/wdio.browserstack.conf.ts